<a name="top"></a>
{{packageName}}.{{apiPackage}}.tags.{{tag.moduleName}}
# {{tag.className}}
{{#if description}}
{{description}}
{{/if}}

All URIs are relative to the selected server
- The server is selected by passing in server_info and server_index into api_configuration.ApiConfiguration
- Code samples in endpoints documents show how to do this
- server_index can also be passed in to endpoint calls, see endpoint documentation

Method | Description
------ | -------------
{{#each operationIdToOperation}}
[**{{@key.snakeCase}}**]({{tag.moduleName}}/{{operationId.snakeCase}}.md) | {{#if summary}}{{summary}}{{/if}}
{{/each}}

[[Back to top]](#top) {{> _helper_footer_links readmePath="../../../" endpointsLink=true }}
