# {{#if schemaNamePrefix1}}{{#if anchorContainsPeriod}}<a id="{{> api_doc_schema_fancy_schema_name spacer="" }}" >{{/if}}{{> api_doc_schema_fancy_schema_name spacer="." }}{{#if anchorContainsPeriod}}</a>{{/if}}{{else}}{{#if name.getNameIsValid}}{{name.getName}}{{else}}{{name.getSnakeCaseName}}{{/if}}{{/if}}
{{#if refInfo.refClass}}
Type | Description  | Notes
------------- | ------------- | -------------
[**{{refInfo.refClass}}**]({{complexTypePrefix}}{{> refclass_with_module }}.md) | {{#if description}}{{description}}{{/if}} | {{#if isReadOnly}}[readonly] {{/if}}

{{else}}
{{> schema/schema_doc }}
{{/if}}