<a name="top"></a>
{{#each operation}}
# **{{{operationId}}}**
<a name="{{{operationId}}}"></a>

{{#if summary}}
{{{summary}}}
{{/if}}
{{#if notes}}

{{{notes}}}
{{/if}}

### Example

{{#if hasAuthMethods}}
{{#each authMethods}}
{{#if isBasic}}
{{#if isBasicBasic}}
* Basic Authentication ({{name}}):
{{/if}}
{{#if isBasicBearer}}
* Bearer{{#if bearerFormat}} ({{{bearerFormat}}}){{/if}} Authentication ({{name}}):
{{/if}}
{{/if}}
{{#if isApiKey}}
* Api Key Authentication ({{name}}):
{{/if}}
{{#if isOAuth}}
* OAuth Authentication ({{name}}):
{{/if}}
{{/each}}
{{/if}}
{{> endpoint_doc_example }}
### Parameters
{{#or requestBody queryParams headerParams pathParams cookieParams}}

Name | Type | Description  | Notes
------------- | ------------- | ------------- | -------------
    {{#with requestBody}}
    {{#if refInfo.refModule}}
[**body**](../../../components/request_bodies/{{refInfo.refModule}}.md) | typing.Union[{{#each refInfo.getRef.content}}{{#unless @first}}, {{/unless}}{{#with this.schema}}[request_body.{{#if name.getNameIsValid}}{{name.getName}}{{else}}{{name.getSnakeCaseName}}{{/if}}](../../../components/request_bodies/{{../refInfo.refModule}}.md#{{packageName}}.components.request_bodies.{{#if name.getNameIsValid}}{{name.getName}}{{else}}{{name.getSnakeCaseName}}{{/if}}){{/with}}{{/each}}{{#unless refInfo.getRef.required}}, Unset]{{else}}]{{/unless}} | {{#if refInfo.getRef.required}}required{{else}}optional, default is unset{{/if}} |
    {{else}}
[body](#request_body) | typing.Union[{{#each content}}{{#unless @first}}, {{/unless}}{{#with this.schema}}[request_body.{{#if name.getNameIsValid}}{{name.getName}}{{else}}{{name.getSnakeCaseName}}{{/if}}](#request_body.{{#if name.getNameIsValid}}{{name.getName}}{{else}}{{name.getSnakeCaseName}}{{/if}}){{/with}}{{/each}}{{#unless required}}, Unset]{{else}}]{{/unless}} | {{#if required}}required{{else}}optional, default is unset{{/if}} |
    {{/if}}
    {{/with}}
    {{#if queryParams}}
[query_params](#.RequestQueryParameters) | [RequestQueryParameters.Params](#RequestQueryParameters.Params) | |
    {{/if}}
    {{#if headerParams}}
[header_params](#RequestHeaderParameters) | [RequestHeaderParameters.Params](#RequestHeaderParameters.Params) | |
    {{/if}}
    {{#if pathParams}}
[path_params](#RequestPathParameters) | [RequestPathParameters.Params](#RequestPathParameters.Params) | |
    {{/if}}
    {{#if cookieParams}}
[cookie_params](#RequestCookieParameters) | [RequestCookieParameters.Params](#RequestCookieParameters.Params) | |
    {{/if}}
    {{#with requestBody}}
        {{#if refInfo}}
            {{#each refInfo.getRef.content}}
            {{#if @first}}
content_type | str | optional, default is '{{@key}}' | Selects the schema and serialization of the request body
            {{/if}}
            {{/each}}
        {{else}}
            {{#each content}}
            {{#if @first}}
content_type | str | optional, default is '{{@key}}' | Selects the schema and serialization of the request body
            {{/if}}
            {{/each}}
        {{/if}}
    {{/with}}
    {{#if produces}}
accept_content_types | typing.Tuple[str] | default is ({{#each produces}}'{{this.mediaType}}', {{/each}}) | Tells the server the content type(s) that are accepted by the client
    {{/if}}
    {{#if servers}}
host_index | typing.Optional[int] | default is None | Allows one to select a different host
    {{/if}}
stream | bool | default is False | if True then the response.content will be streamed and loaded from a file like object. When downloading a file, set this to True to force the code to deserialize the content to a FileSchema file
timeout | typing.Optional[typing.Union[int, typing.Tuple]] | default is None | the timeout used by the rest client
skip_deserialization | bool | default is False | when True, headers and body will be unset and an instance of api_client.ApiResponseWithoutDeserialization will be returned
    {{#if requestBody}}
    {{#unless requestBody.refInfo.refModule}}

### <a id="request_body" >body</a>
{{> request_body_doc requestBody=requestBody schemaNamePrefix1="request_body" }}
    {{/unless}}
    {{/if}}
    {{#if queryParams}}

### <a id="RequestQueryParameters" >query_params</a>
#### <a id="RequestQueryParameters.Params" >RequestQueryParameters.Params</a>

Key | Input Type | Description  | Notes
------------- | ------------- | ------------- | -------------
        {{#each queryParams}}
        {{#if refInfo.refModule}}
{{refInfo.getRef.baseName}} | [{{refInfo.refModule}}.schema](../../../components/parameters/{{refInfo.refModule}}.md) | | {{#unless refInfo.getRef.required}}optional{{/unless}}
        {{else}}
{{baseName}} | [{{name.getSnakeCaseName}}.schema](#{{name.getSnakeCaseName}}.schema) | | {{#unless required}}optional{{/unless}}
        {{/if}}
        {{/each}}

        {{#each queryParams as | parameter |}}
        {{#unless parameter.refInfo.refModule}}

{{> parameter_doc complexTypePrefix="../../../components/schema/" }}
        {{/unless}}
        {{/each}}
    {{/if}}
    {{#if headerParams}}

### <a id="RequestHeaderParameters" >header_params</a>
#### <a id="RequestHeaderParameters.Params" >RequestHeaderParameters.Params</a>

Key | Input Type | Description  | Notes
------------- | ------------- | ------------- | -------------
        {{#each headerParams}}
        {{#if refInfo.refModule}}
{{refInfo.getRef.baseName}} | [{{refInfo.refModule}}.schema](../../../components/parameters/{{refInfo.refModule}}.md) | | {{#unless refInfo.getRef.required}}optional{{/unless}}
        {{else}}
{{baseName}} | [{{name.getSnakeCaseName}}.schema](#{{name.getSnakeCaseName}}.schema) | | {{#unless required}}optional{{/unless}}
        {{/if}}
        {{/each}}
        {{#each headerParams as | parameter |}}
        {{#unless parameter.refInfo.refModule}}

{{> parameter_doc complexTypePrefix="../../../components/schema/" }}
        {{/unless}}
        {{/each}}
    {{/if}}
    {{#if pathParams}}

### <a id="RequestPathParameters" >path_params</a>
#### <a id="RequestPathParameters.Params" >RequestPathParameters.Params</a>

Key | Input Type | Description  | Notes
------------- | ------------- | ------------- | -------------
        {{#each pathParams}}
        {{#if refInfo.refModule}}
{{refInfo.getRef.baseName}} | [{{refInfo.refModule}}.schema](../../../components/parameters/{{refInfo.refModule}}.md) | | {{#unless refInfo.getRef.required}}optional{{/unless}}
        {{else}}
{{baseName}} | [{{name.getSnakeCaseName}}.schema](#{{name.getSnakeCaseName}}.schema) | | {{#unless required}}optional{{/unless}}
        {{/if}}
        {{/each}}
        {{#each pathParams as | parameter |}}
        {{#unless parameter.refInfo.refModule}}

{{> parameter_doc complexTypePrefix="../../../components/schema/" }}
        {{/unless}}
        {{/each}}
    {{/if}}
    {{#if cookieParams}}

### <a id="RequestCookieParameters" >cookie_params</a>
#### <a id="RequestCookieParameters.Params" >RequestCookieParameters.Params</a>

Key | Input Type | Description  | Notes
------------- | ------------- | ------------- | -------------
        {{#each cookieParams}}
        {{#if refInfo.refModule}}
{{refInfo.getRef.baseName}} | [{{refInfo.refModule}}.schema](../../../components/parameters/{{refInfo.refModule}}.md) | | {{#unless refInfo.getRef.required}}optional{{/unless}}
        {{else}}
{{baseName}} | [{{name.getSnakeCaseName}}.schema](#{{name.getSnakeCaseName}}.schema) | | {{#unless required}}optional{{/unless}}
        {{/if}}
        {{/each}}
        {{#each cookieParams as | parameter |}}
        {{#unless parameter.refInfo.refModule}}

{{> parameter_doc complexTypePrefix="../../../components/schema/" }}
        {{/unless}}
        {{/each}}
    {{/if}}
{{else}}
This endpoint does not need any parameter.
{{/or}}

### Return Types, Responses

Code | Class | Description
------------- | ------------- | -------------
n/a | api_client.ApiResponseWithoutDeserialization | When skip_deserialization is True this response is returned
{{#if defaultResponse}}
{{#with defaultResponse}}
{{#if refInfo.refModule}}
default | [{{refInfo.refModule}}.ApiResponse](../../../components/responses/{{refInfo.refModule}}.md) | {{#with refInfo.getRef}}{{message}}{{/with}}
{{else}}
default | [response_for_default.ApiResponse](#response_for_default.ApiResponse) | {{message}}
{{/if}}
{{/with}}
{{/if}}
{{#each nonDefaultResponses}}
{{#if refInfo.refModule}}
{{@key}} | [{{refInfo.refModule}}.ApiResponse](../../../components/responses/{{refInfo.refModule}}.md) | {{#with refInfo.getRef}}{{message}}{{/with}}
{{else}}
{{@key}} | [response_for_{{@key}}.ApiResponse](#response_for_{{@key}}.ApiResponse) | {{message}}
{{/if}}
{{/each}}
{{#each responses}}
{{#unless refInfo.refModule}}

{{> response_doc response=this complexTypePrefix="../../../components/schema/" }}
{{/unless}}
{{/each}}

### Authorization

{{#unless authMethods}}
No authorization required
{{else}}
{{#each authMethods}}[{{{name}}}](../../../../README.md#{{{name}}}){{#unless @last}}, {{/unless}}{{/each}}
{{/unless}}

[[Back to top]](#top) [[Back to API]](../{{tag.className}}.md) {{> footer_links readmePath="../../../../" endpointsLink=true}}
{{/each}}