{{#each models}}
{{#with model}}
<a name="top"></a>
<a id="{{classname}}"></a>
# {{packageName}}.{{modelPackage}}.{{classFilename}}.{{classname}}
{{> schema_doc complexTypePrefix="" }}
{{/with}}
{{/each}}

[[Back to top]](#top) {{> footer_links readmePath="../../../" schemasLink=True}}