{{#if parameter.componentModule}}
<a name="top"></a>
## {{packageName}}.components.parameters.{{parameter.componentModule}}
{{/if}}
{{#if parameter.refInfo}}
    {{#if parameter.getDeepestRef.schema}}
        {{#with parameter.getDeepestRef.schema}}
{{> api_doc_schema_type_hint anchorContainsPeriod=true schemaNamePrefix1=../parameter.name }}
        {{/with}}
    {{else}}
        {{#each parameter.getDeepestRef.getContent}}
            {{#with this}}
                {{#with schema}}
{{> api_doc_schema_type_hint anchorContainsPeriod=true schemaNamePrefix1=../../../parameter.name schemaNamePrefix2="content" schemaNamePrefix3=../@key.getSnakeCaseName }}
                {{/with}}
            {{/with}}
        {{/each}}
    {{/if}}
{{else}}
    {{#if parameter.schema}}
        {{#with parameter.schema}}
{{> api_doc_schema_type_hint anchorContainsPeriod=true schemaNamePrefix1=../parameter.name }}
        {{/with}}
    {{else}}
        {{#each parameter.getContent}}
            {{#with this}}
                {{#with schema}}
{{> api_doc_schema_type_hint anchorContainsPeriod=true schemaNamePrefix1=../../../parameter.name schemaNamePrefix2="content" schemaNamePrefix3=../@key.getSnakeCaseName }}
                {{/with}}
            {{/with}}
        {{/each}}
    {{/if}}
{{/if}}
{{#if parameter.componentModule}}

[[Back to top]](#top) {{> footer_links readmePath="../../../" parametersLink=true}}
{{/if}}