{{#if parameter.componentModule}}
<a name="top"></a>
## {{packageName}}.components.parameters.{{parameter.componentModule}}
{{/if}}
{{#if parameter.ref}}
    {{#if parameter.ref.getRef.schema}}
        {{#with parameter.ref.getRef.schema}}
{{> api_doc_schema_type_hint schemaNamePrefix1=../name.getSnakeCaseName }}
        {{/with}}
    {{else}}
        {{#each parameter.ref.getRef.getContent}}
            {{#with this}}
                {{#with schema}}
{{> api_doc_schema_type_hint schemaNamePrefix1=../name.getSnakeCaseName }}
                {{/with}}
            {{/with}}
        {{/each}}
    {{/if}}
{{else}}
    {{#if parameter.schema}}
        {{#with parameter.schema}}
{{> api_doc_schema_type_hint schemaNamePrefix1=../name.getSnakeCaseName }}
        {{/with}}
    {{else}}
        {{#each parameter.getContent}}
            {{#with this}}
                {{#with schema}}
{{> api_doc_schema_type_hint schemaNamePrefix1=../name.getSnakeCaseName }}
                {{/with}}
            {{/with}}
        {{/each}}
    {{/if}}
{{/if}}
{{#if parameter.componentModule}}

[[Back to top]](#top) {{> footer_links readmePath="../../../" parametersLink=true}}
{{/if}}