{{#with parameter}}
{{#if componentModule}}
<a name="top"></a>
# {{../packageName}}.components.parameters.{{componentModule}}
## {{name.getCamelCaseName}}
{{/if}}
{{#if refInfo}}
    {{#with getDeepestRef}}
        {{#if schema}}
            {{#with schema}}
### {{> anchor_fancy schemaNamePrefix1=../../name }}
Ref Class | Input Type | Accessed Type | Description
--------- | ---------- | ------------- | ------------
[{{../../refInfo.refClass}}.schema](../../components/parameters/{{../../refInfo.refModule}}.md#{{../../refInfo.refModule}}schema) | {{> model_templates/schema_python_types }} | {{> model_templates/schema_accessed_types }} | {{#if ../../description}}{{../../description}}{{/if}}
            {{/with}}
        {{else}}
            {{#each getDeepestRef.getContent}}
                {{#with this.schema}}
### {{> anchor_fancy schemaNamePrefix1=../../../name schemaNamePrefix2="content" schemaNamePrefix3=../@key.getSnakeCaseName }}
Ref Class | Input Type | Accessed Type | Description
--------- | ---------- | ------------- | ------------
[{{../../../refInfo.refClass}}.content.{{../@key.getSnakeCaseName}}.schema](../../components/parameters/{{../../../refInfo.refModule}}.md#{{../../../refInfo.refModule}}content{{../@key.getSnakeCaseName}}schema) | {{> model_templates/schema_python_types }} | {{> model_templates/schema_accessed_types }} | {{#if ../../../description}}{{../../../description}}{{/if}}
                {{/with}}
            {{/each}}
        {{/if}}
    {{/with}}
{{else}}
    {{#if schema}}
        {{#with schema}}
{{> api_doc_schema_type_hint anchorContainsPeriod=true schemaNamePrefix1=../name }}
        {{/with}}
    {{else}}
        {{#each getContent}}
            {{#with this.schema}}
{{> api_doc_schema_type_hint anchorContainsPeriod=true schemaNamePrefix1=../../name schemaNamePrefix2="content" schemaNamePrefix3=../@key.getSnakeCaseName }}
            {{/with}}
        {{/each}}
    {{/if}}
{{/if}}
{{#if componentModule}}

[[Back to top]](#top) {{> footer_links readmePath="../../../" parametersLink=true}}
{{/if}}
{{/with}}