{{#with response}}
{{#if componentModule}}
<a name="top"></a>
## {{packageName}}.components.responses.{{componentModule}}
# <a id="ApiResponse" >ApiResponse</a>
{{else}}
#### <a id="{{name.getSnakeCaseName}}ApiResponse" >{{name.getSnakeCaseName}}.ApiResponse</a>
{{/if}}
Name | Type | Description  | Notes
------------- | ------------- | ------------- | -------------
response | urllib3.HTTPResponse | Raw response |
{{#if componentModule}}
body | {{#unless content}}Unset{{else}}typing.Union[{{#each content}}{{#if this.schema}}[content.{{@key.getSnakeCaseName}}.{{#if schema.name.getNameIsValid}}{{schema.name.getName}}{{else}}{{schema.name.getSnakeCaseName}}{{/if}}](#content{{@key.getSnakeCaseName}}{{#if schema.name.getNameIsValid}}{{schema.name.getName}}{{else}}{{schema.name.getSnakeCaseName}}{{/if}}){{else}}Unset{{/if}}, {{/each}}]{{/unless}} | {{#unless content}}body was not defined{{/unless}} |
headers | {{#unless headers}}Unset{{else}}[Headers](#Headers){{/unless}} | {{#unless headers}}headers were not defined{{/unless}} |
{{#each content}}
    {{#with this.schema}}

{{> api_doc_schema_type_hint schemaNamePrefix1="content" schemaNamePrefix2=../@key.getSnakeCaseName }}
    {{/with}}
{{/each}}
{{else}}
body | {{#unless content}}Unset{{else}}typing.Union[{{#each content}}{{#if this.schema}}[response_for_{{../@key}}.content.{{@key.getSnakeCaseName}}.{{#if schema.name.getNameIsValid}}{{schema.name.getName}}{{else}}{{schema.name.getSnakeCaseName}}{{/if}}](#response_for_{{../@key}}.content.{{@key.getSnakeCaseName}}.{{#if schema.name.getNameIsValid}}{{schema.name.getName}}{{else}}{{schema.name.getSnakeCaseName}}{{/if}}){{else}}Unset{{/if}}, {{/each}}]{{/unless}} | {{#unless content}}body was not defined{{/unless}} |
headers | {{#unless headers}}Unset{{else}}[response_for_{{@key}}.Headers](#response_for_{{@key}}.Headers){{/unless}} | {{#unless headers}}headers were not defined{{/unless}} |
{{#each content}}
    {{#with this.schema}}

{{> api_doc_schema_type_hint anchorContainsPeriod=true schemaNamePrefix1=../../name.getSnakeCaseName schemaNamePrefix2="content" schemaNamePrefix3=../@key.getSnakeCaseName }}
    {{/with}}
{{/each}}
{{/if}}
{{#if headers}}
{{#if componentModule}}
## Headers
{{else}}
#### <a id="{{name.getSnakeCaseName}}Headers" >{{name.getSnakeCaseName}}.Headers</a>
{{/if}}

Key | Accessed Type | Description  | Notes
------------- | ------------- | ------------- | -------------
{{#each headers}}
    {{#with this}}
        {{#if refInfo}}
            {{#with refInfo.getRef}}
                {{#if schema}}
                    {{#with schema}}
{{../@key}} | [{{../../refInfo.refModule}}.schema]({{#unless ../../../componentModule}}../{{/unless}}../../components/headers/{{../../refInfo.refModule}}.md#schema) | | {{#unless required}}optional{{/unless}}
                    {{/with}}
                {{else}}
                    {{#each getContent}}
                        {{#with this}}
                            {{#with schema}}
{{../../@key}} | [{{../../../refInfo.refModule}}.{{#if name.getNameIsValid}}{{name.getName}}{{else}}{{name.getSnakeCaseName}}{{/if}}]({{#unless ../../../../componentModule}}../{{/unless}}../../components/headers/{{../../../refInfo.refModule}}.md#{{#if name.getNameIsValid}}{{name.getName}}{{else}}{{name.getSnakeCaseName}}{{/if}}) | | {{#unless required}}optional{{/unless}}
                            {{/with}}
                        {{/with}}
                    {{/each}}
                {{/if}}
            {{/with}}
        {{else}}
            {{#if schema}}
                {{#with schema}}
{{../@key}} | [{{#if ../../@key}}response_for_{{../../@key}}.{{/if}}{{../name.getSnakeCaseName}}.schema](#{{#if ../../@key}}response_for_{{../../@key}}.{{/if}}{{../name.getSnakeCaseName}}.schema) | | {{#unless required}}optional{{/unless}}
                {{/with}}
            {{else}}
                {{#each getContent}}
                    {{#with this}}
                        {{#with schema}}
{{../../@key}} | [{{#if ../../../@key}}response_for_{{../../../@key}}.{{/if}}{{../name.getSnakeCaseName}}.{{#if name.getNameIsValid}}{{name.getName}}{{else}}{{name.getSnakeCaseName}}{{/if}}](#{{#if ../../../@key}}response_for_{{../../../@key}}.{{/if}}{{../name.getSnakeCaseName}}.{{#if name.getNameIsValid}}{{name.getName}}{{else}}{{name.getSnakeCaseName}}{{/if}}) | | {{#unless required}}optional{{/unless}}
                        {{/with}}
                    {{/with}}
                {{/each}}
            {{/if}}
        {{/if}}
    {{/with}}
{{/each}}
{{#each headers}}
{{> header_doc header=this }}
{{/each}}
{{/if}}
{{#if componentModule}}

[[Back to top]](#top) {{> footer_links readmePath="../../../" responsesLink=true}}
{{/if}}
{{/with}}