{{#with response}}
{{#if componentModule}}
<a name="top"></a>
## {{packageName}}.components.responses.{{componentModule}}
# ApiResponse
{{else}}
#### <a id="response_for_{{@key}}.ApiResponse" >response_for_{{@key}}.ApiResponse</a>
{{/if}}
Name | Type | Description  | Notes
------------- | ------------- | ------------- | -------------
response | urllib3.HTTPResponse | Raw response |
{{#if componentModule}}
body | {{#unless content}}Unset{{else}}typing.Union[{{#each content}}{{#if this.schema}}[{{#if schema.name.getNameIsValid}}{{schema.name.getName}}{{else}}{{schema.name.getSnakeCaseName}}{{/if}}](#{{#if schema.name.getNameIsValid}}{{schema.name.getName}}{{else}}{{schema.name.getSnakeCaseName}}{{/if}}){{else}}Unset{{/if}}, {{/each}}]{{/unless}} | {{#unless content}}body was not defined{{/unless}} |
headers | {{#unless headers}}Unset{{else}}[Headers](#Headers){{/unless}} | {{#unless headers}}headers were not defined{{/unless}} |
{{#each content}}
    {{#with this.schema}}

{{> api_doc_schema_type_hint }}
    {{/with}}
{{/each}}
{{else}}
body | {{#unless content}}Unset{{else}}typing.Union[{{#each content}}{{#if this.schema}}[response_for_{{../@key}}.{{#if schema.name.getNameIsValid}}{{schema.name.getName}}{{else}}{{schema.name.getSnakeCaseName}}{{/if}}](#response_for_{{../@key}}.{{#if schema.name.getNameIsValid}}{{schema.name.getName}}{{else}}{{schema.name.getSnakeCaseName}}{{/if}}){{else}}Unset{{/if}}, {{/each}}]{{/unless}} | {{#unless content}}body was not defined{{/unless}} |
headers | {{#unless headers}}Unset{{else}}[response_for_{{@key}}.Headers](#response_for_{{@key}}.Headers){{/unless}} | {{#unless headers}}headers were not defined{{/unless}} |
{{#each content}}
    {{#with this.schema}}

{{> api_doc_schema_type_hint anchorContainsPeriod=true schemaNamePrefix1="response_for_" schemaNamePrefix2=../../@key schemaNamePrefix3="." }}
    {{/with}}
{{/each}}
{{/if}}
{{#if headers}}
{{#if componentModule}}
## Headers
{{else}}
#### <a id="response_for_{{@key}}.Headers" >response_for_{{@key}}.Headers</a>
{{/if}}

Key | Accessed Type | Description  | Notes
------------- | ------------- | ------------- | -------------
{{#each headers}}
    {{#with this}}
        {{#if ref}}
            {{#with ref}}
                {{#if schema}}
                    {{#with schema}}
{{../@key}} | [{{../../refModule}}.schema]({{#unless ../../../componentModule}}../{{/unless}}../../components/headers/{{../../refModule}}.md#schema) | | {{#unless required}}optional{{/unless}}
                    {{/with}}
                {{else}}
                    {{#each getContent}}
                        {{#with this}}
                            {{#with schema}}
{{../../@key}} | [{{../../../refModule}}.{{#if name.getNameIsValid}}{{name.getName}}{{else}}{{name.getSnakeCaseName}}{{/if}}]({{#unless ../../../../componentModule}}../{{/unless}}../../components/headers/{{../../../refModule}}.md#{{#if name.getNameIsValid}}{{name.getName}}{{else}}{{name.getSnakeCaseName}}{{/if}}) | | {{#unless required}}optional{{/unless}}
                            {{/with}}
                        {{/with}}
                    {{/each}}
                {{/if}}
            {{/with}}
        {{else}}
            {{#if schema}}
                {{#with schema}}
{{../@key}} | [{{#if ../../@key}}response_for_{{../../@key}}.{{/if}}{{../name.getSnakeCaseName}}.schema](#{{#if ../../@key}}response_for_{{../../@key}}.{{/if}}{{../name.getSnakeCaseName}}.schema) | | {{#unless required}}optional{{/unless}}
                {{/with}}
            {{else}}
                {{#each getContent}}
                    {{#with this}}
                        {{#with schema}}
{{../../@key}} | [{{#if ../../../@key}}response_for_{{../../../@key}}.{{/if}}{{../name.getSnakeCaseName}}.{{#if name.getNameIsValid}}{{name.getName}}{{else}}{{name.getSnakeCaseName}}{{/if}}](#{{#if ../../../@key}}response_for_{{../../../@key}}.{{/if}}{{../name.getSnakeCaseName}}.{{#if name.getNameIsValid}}{{name.getName}}{{else}}{{name.getSnakeCaseName}}{{/if}}) | | {{#unless required}}optional{{/unless}}
                        {{/with}}
                    {{/with}}
                {{/each}}
            {{/if}}
        {{/if}}
    {{/with}}
{{/each}}
{{> header_doc }}
{{/if}}
{{#if componentModule}}

[[Back to top]](#top) {{> footer_links readmePath="../../../" responsesLink=true}}
{{/if}}
{{/with}}