{{#with parameter}}
{{#if componentModule}}
<a name="top"></a>
## {{../packageName}}.components.parameters.{{componentModule}}
# {{name.getCamelCaseName}}
{{/if}}
{{#if refInfo}}
    {{#with getDeepestRef}}
        {{#if schema}}
            {{#with schema}}
### {{> components/anchor_fancy schemaNamePrefix1=../../name }}
Ref Class | Input Type | Accessed Type | Description
--------- | ---------- | ------------- | ------------
[{{../../refInfo.refClass}}.schema](../../components/parameters/{{../../refInfo.refModule}}.md#{{../../refInfo.refModule}}schema) | {{> _helper_schema_python_types }} | {{> components/_helper_schema_accessed_types }} | {{#if ../../description}}{{../../description}}{{/if}}
            {{/with}}
        {{else}}
            {{#each getDeepestRef.getContent}}
                {{#with this.schema}}
### {{> components/anchor_fancy schemaNamePrefix1=../../../name schemaNamePrefix2="content" schemaNamePrefix3=../@key.getSnakeCaseName }}
Ref Class | Input Type | Accessed Type | Description
--------- | ---------- | ------------- | ------------
[{{../../../refInfo.refClass}}.content.{{../@key.getSnakeCaseName}}.schema](../../components/parameters/{{../../../refInfo.refModule}}.md#{{../../../refInfo.refModule}}content{{../@key.getSnakeCaseName}}schema) | {{> _helper_schema_python_types }} | {{> components/_helper_schema_accessed_types }} | {{#if ../../../description}}{{../../../description}}{{/if}}
                {{/with}}
            {{/each}}
        {{/if}}
    {{/with}}
{{else}}
    {{#if schema}}
        {{#with schema}}
{{> components/schema_doc_with_ref anchorContainsPeriod=true schemaNamePrefix1=../name }}
        {{/with}}
    {{else}}
        {{#each getContent}}
            {{#with this.schema}}
{{> components/schema_doc_with_ref anchorContainsPeriod=true schemaNamePrefix1=../../name schemaNamePrefix2="content" schemaNamePrefix3=../@key.getSnakeCaseName }}
            {{/with}}
        {{/each}}
    {{/if}}
{{/if}}
{{#if componentModule}}

[[Back to top]](#top) {{> _helper_footer_links readmePath="../../../" parametersLink=true}}
{{/if}}
{{/with}}