<a name="top"></a>
{{#each operation}}
# **{{{operationId.snakeCase}}}**
<a name="{{{operationId.snakeCase}}}"></a>

{{#if summary}}
{{{summary}}}
{{/if}}
{{#if notes}}

{{{notes}}}
{{/if}}
## Table of Contents
{{#or requestBody queryParams headerParams pathParams cookieParams}}
- [Arguments](#Arguments)
{{/or}}
- [Return Types](#return-types)

### Code Example

{{#if authMethods}}
{{#each authMethods}}
{{#if isBasic}}
{{#if isBasicBasic}}
* Basic Authentication ({{name}}):
{{/if}}
{{#if isBasicBearer}}
* Bearer{{#if bearerFormat}} ({{{bearerFormat}}}){{/if}} Authentication ({{name}}):
{{/if}}
{{/if}}
{{#if isApiKey}}
* Api Key Authentication ({{name}}):
{{/if}}
{{#if isOAuth}}
* OAuth Authentication ({{name}}):
{{/if}}
{{/each}}
{{/if}}
{{> paths/path/verb/_helper_operation_doc_example }}
{{#or requestBody queryParams headerParams pathParams cookieParams}}
## Arguments

Name | Type | Description  | Notes
------------- | ------------- | ------------- | -------------
    {{#with requestBody}}
    {{#if refInfo}}
[**body**](../../../components/request_bodies/{{refInfo.refModule}}.md) | typing.Union[{{#with getDeepestRef}}{{#each content}}{{#unless @first}}, {{/unless}}{{#with this.schema}}[{{../../../refInfo.refClass}}.content.{{../@key.snakeCase}}.{{jsonPathPiece.snakeCase}}](../../../components/request_bodies/{{../../../refInfo.refModule}}.md#{{../../../refInfo.refModule}}content{{../@key.snakeCase}}{{jsonPathPiece.snakeCase}}){{/with}}{{/each}}{{/with}}{{#unless getDeepestRef.required}}, Unset]{{else}}]{{/unless}} | {{#if getDeepestRef.required}}required{{else}}optional, default is unset{{/if}} |
    {{else}}
[body](#request_body) | typing.Union[{{#each content}}{{#unless @first}}, {{/unless}}{{#with this.schema}}[{{../../jsonPathPiece.camelCase}}.content.{{../@key.snakeCase}}.{{#if jsonPathPiece.isValid}}{{jsonPathPiece.original}}{{else}}{{jsonPathPiece.snakeCase}}{{/if}}](#request_bodycontent{{../@key.snakeCase}}{{#if jsonPathPiece.isValid}}{{jsonPathPiece.original}}{{else}}{{jsonPathPiece.snakeCase}}{{/if}}){{/with}}{{/each}}{{#unless required}}, Unset]{{else}}]{{/unless}} | {{#if required}}required{{else}}optional, default is unset{{/if}} |
    {{/if}}
    {{/with}}
    {{#if queryParams}}
[query_params](#requestqueryparameters) | [RequestQueryParameters.Params](#RequestQueryParametersParams) | |
    {{/if}}
    {{#if headerParams}}
[header_params](#requestheaderparameters) | [RequestHeaderParameters.Params](#RequestHeaderParametersParams) | |
    {{/if}}
    {{#if pathParams}}
[path_params](#requestpathparameters) | [RequestPathParameters.Params](#RequestPathParametersParams) | |
    {{/if}}
    {{#if cookieParams}}
[cookie_params](#requestcookieparameters) | [RequestCookieParameters.Params](#RequestCookieParametersParams) | |
    {{/if}}
    {{#with requestBody}}
        {{#if refInfo}}
            {{#each getDeepestRef.content}}
            {{#if @first}}
content_type | str | optional, default is '{{@key.original}}' | Selects the schema and serialization of the request body
            {{/if}}
            {{/each}}
        {{else}}
            {{#each content}}
            {{#if @first}}
content_type | str | optional, default is '{{@key.original}}' | Selects the schema and serialization of the request body
            {{/if}}
            {{/each}}
        {{/if}}
    {{/with}}
    {{#if produces}}
accept_content_types | typing.Tuple[str] | default is ({{#each produces}}"{{{.}}}", {{/each}}) | Tells the server the content type(s) that are accepted by the client
    {{/if}}
    {{#if servers}}
host_index | typing.Optional[int] | default is None | Allows one to select a different host
    {{/if}}
stream | bool | default is False | if True then the response.content will be streamed and loaded from a file like object. When downloading a file, set this to True to force the code to deserialize the content to a FileSchema file
timeout | typing.Optional[typing.Union[int, typing.Tuple]] | default is None | the timeout used by the rest client
skip_deserialization | bool | default is False | when True, headers and body will be unset and an instance of api_client.ApiResponseWithoutDeserialization will be returned
    {{#if requestBody}}
    {{#unless requestBody.refInfo}}

### <a id="request_body" >body</a>
{{> components/request_bodies/request_body_doc requestBody=requestBody }}
    {{/unless}}
    {{/if}}
    {{#if queryParams}}

### <a id="requestqueryparameters" >query_params</a>
#### <a id="RequestQueryParametersParams" >RequestQueryParameters.Params</a>

Key | Input Type | Description  | Notes
------------- | ------------- | ------------- | -------------
        {{#each queryParams}}
        {{#if refInfo}}
{{getDeepestRef.name}} | [{{refInfo.refClass}}](../../../components/parameters/{{refInfo.refModule}}.md) | | {{#unless getDeepestRef.required}}optional{{/unless}}
        {{else}}
            {{#if schema}}
{{name}} | [{{jsonPathPiece.camelCase}}.schema](#{{jsonPathPiece.snakeCase}}schema) | | {{#unless required}}optional{{/unless}}
            {{else}}
                {{#each content}}
{{../name}} | [{{../jsonPathPiece.camelCase}}.content.{{@key.snakeCase}}.schema](#{{../jsonPathPiece.snakeCase}}content{{@key.snakeCase}}schema) | | {{#unless required}}optional{{/unless}}
                {{/each}}
            {{/if}}
        {{/if}}
        {{/each}}

        {{#each queryParams as | parameter |}}
        {{#unless parameter.refInfo}}

{{> components/parameters/parameter_doc complexTypePrefix="../../../components/schema/" }}
        {{/unless}}
        {{/each}}
    {{/if}}
    {{#if headerParams}}

### <a id="requestheaderparameters" >header_params</a>
#### <a id="RequestHeaderParametersParams" >RequestHeaderParameters.Params</a>

Key | Input Type | Description  | Notes
------------- | ------------- | ------------- | -------------
        {{#each headerParams}}
        {{#if refInfo}}
{{getDeepestRef.name}} | [{{refInfo.refClass}}](../../../components/parameters/{{refInfo.refModule}}.md) | | {{#unless getDeepestRef.required}}optional{{/unless}}
        {{else}}
            {{#if schema}}
{{name}} | [{{jsonPathPiece.camelCase}}.schema](#{{jsonPathPiece.snakeCase}}schema) | | {{#unless required}}optional{{/unless}}
            {{else}}
                {{#each content}}
{{../name}} | [{{../jsonPathPiece.camelCase}}.content.{{@key.snakeCase}}.schema](#{{../jsonPathPiece.snakeCase}}content{{@key.snakeCase}}schema) | | {{#unless required}}optional{{/unless}}
                {{/each}}
            {{/if}}
        {{/if}}
        {{/each}}
        {{#each headerParams as | parameter |}}
        {{#unless parameter.refInfo}}

{{> components/parameters/parameter_doc complexTypePrefix="../../../components/schema/" }}
        {{/unless}}
        {{/each}}
    {{/if}}
    {{#if pathParams}}

### <a id="requestpathparameters" >path_params</a>
#### <a id="RequestPathParametersParams" >RequestPathParameters.Params</a>

Key | Input Type | Description  | Notes
------------- | ------------- | ------------- | -------------
        {{#each pathParams}}
        {{#if refInfo}}
{{getDeepestRef.name}} | [{{refInfo.refClass}}](../../../components/parameters/{{refInfo.refModule}}.md) | | {{#unless getDeepestRef.required}}optional{{/unless}}
        {{else}}
            {{#if schema}}
{{name}} | [{{jsonPathPiece.camelCase}}.schema](#{{jsonPathPiece.snakeCase}}schema) | | {{#unless required}}optional{{/unless}}
            {{else}}
                {{#each content}}
{{../name}} | [{{../jsonPathPiece.camelCase}}.content.{{@key.snakeCase}}.schema](#{{../jsonPathPiece.snakeCase}}content{{@key.snakeCase}}schema) | | {{#unless required}}optional{{/unless}}
                {{/each}}
            {{/if}}
        {{/if}}
        {{/each}}
        {{#each pathParams as | parameter |}}
        {{#unless parameter.refInfo}}

{{> components/parameters/parameter_doc complexTypePrefix="../../../components/schema/" }}
        {{/unless}}
        {{/each}}
    {{/if}}
    {{#if cookieParams}}

### <a id="requestcookieparameters" >cookie_params</a>
#### <a id="RequestCookieParametersParams" >RequestCookieParameters.Params</a>

Key | Input Type | Description  | Notes
------------- | ------------- | ------------- | -------------
        {{#each cookieParams}}
        {{#if refInfo}}
{{getDeepestRef.name}} | [{{refInfo.refClass}}](../../../components/parameters/{{refInfo.refModule}}.md) | | {{#unless getDeepestRef.required}}optional{{/unless}}
        {{else}}
            {{#if schema}}
{{name}} | [{{jsonPathPiece.camelCase}}.schema](#{{jsonPathPiece.snakeCase}}schema) | | {{#unless required}}optional{{/unless}}
            {{else}}
                {{#each content}}
{{../name}} | [{{../jsonPathPiece.camelCase}}.content.{{{@key.original}}}.schema](#{{../jsonPathPiece.snakeCase}}content{{@key.snakeCase}}schema) | | {{#unless required}}optional{{/unless}}
                {{/each}}
            {{/if}}
        {{/if}}
        {{/each}}
        {{#each cookieParams as | parameter |}}
        {{#unless parameter.refInfo}}

{{> components/parameters/parameter_doc complexTypePrefix="../../../components/schema/" }}
        {{/unless}}
        {{/each}}
    {{/if}}
{{else}}
This endpoint does not need any parameter.
{{/or}}

## Return Types

Code | Class | Description
------------- | ------------- | -------------
n/a | api_client.ApiResponseWithoutDeserialization | When skip_deserialization is True this response is returned
{{#if defaultResponse}}
{{#with defaultResponse}}
{{#if refInfo}}
default | [{{refInfo.refClass}}.response_cls](../../../components/responses/{{refInfo.refModule}}.md#{{refInfo.refModule}}response_cls) | {{#with getDeepestRef}}{{description}}{{/with}}
{{else}}
default | [{{jsonPathPiece.camelCase}}.response_cls](#{{jsonPathPiece.snakeCase}}response_cls) | {{description}}
{{/if}}
{{/with}}
{{/if}}
{{#each nonDefaultResponses}}
{{#if refInfo}}
{{@key}} | [{{refInfo.refClass}}.response_cls](../../../components/responses/{{refInfo.refModule}}.md#{{refInfo.refModule}}response_cls) | {{#with getDeepestRef}}{{description}}{{/with}}
{{else}}
{{@key}} | [{{jsonPathPiece.camelCase}}.response_cls](#{{jsonPathPiece.snakeCase}}response_cls) | {{description}}
{{/if}}
{{/each}}
{{#each responses}}
{{#unless refInfo.refModule}}

{{> components/responses/response_doc response=this complexTypePrefix="../../../components/schema/" }}
{{/unless}}
{{/each}}

### Authorization

{{#unless authMethods}}
No authorization required
{{else}}
{{#each authMethods}}[{{{name}}}](../../../../README.md#{{{name}}}){{#unless @last}}, {{/unless}}{{/each}}
{{/unless}}

[[Back to top]](#top) [[Back to API]](../{{tag.className}}.md) {{> _helper_footer_links readmePath="../../../../" endpointsLink=true}}
{{/each}}