<a name="top"></a>
# {{packageName}}.{{apiPackage}}.tags.{{tag.moduleName}}.{{tag.className}}{{#if description}}
{{description}}{{/if}}

All URIs are relative to *{{basePath}}*

Method | HTTP request | Description
------------- | ------------- | -------------
{{#with operations}}
{{#each operation}}
[**{{operationId.snakeCase}}**]({{tag.moduleName}}/{{operationId.snakeCase}}.md) | **{{httpMethod.name}}** {{path.name}} | {{#if summary}}{{summary}}{{/if}}
{{/each}}
{{/with}}

[[Back to top]](#top) {{> _helper_footer_links readmePath="../../../" endpointsLink=true }}
