{{#with response}}
{{#if componentModule}}
<a name="top"></a>
{{packageName}}.components.responses.{{componentModule}}
    {{#if refInfo}}
# {{jsonPathPiece.camelCase}} [ref](../../components/responses/{{refInfo.refModule}}.md)<a id="{{jsonPathPiece.snakeCase}}" ></a>
    {{else}}
# <a id="{{jsonPathPiece.snakeCase}}" >{{jsonPathPiece.camelCase}}</a>
    {{/if}}
{{/if}}
{{#if description}}

{{headerSize}} <a id="{{jsonPathPiece.snakeCase}}description" >{{jsonPathPiece.camelCase}}.description</a>
{{description}}
{{/if}}

{{headerSize}} <a id="{{jsonPathPiece.snakeCase}}response_cls" >{{jsonPathPiece.camelCase}}.response_cls</a>
Name | Type | Description  | Notes
------------- | ------------- | ------------- | -------------
response | urllib3.HTTPResponse | Raw response |
{{#if refInfo}}
    {{#with getDeepestRef}}
body | {{#unless content}}Unset{{else}}typing.Union[{{#each content}}{{#if this.schema}}[{{../../jsonPathPiece.camelCase}}.content.{{@key.snakeCase}}.schema](../../components/responses/{{../../refInfo.refModule}}.md#{{../../refInfo.refModule}}content{{@key.snakeCase}}schema){{else}}Unset{{/if}}, {{/each}}]{{/unless}} | {{#unless content}}body was not defined{{/unless}} |
headers | {{#unless headers}}Unset{{else}}[{{../jsonPathPiece.snakeCase}}.Headers](../../components/responses/{{../refInfo.refModule}}.md#{{jsonPathPiece.snakeCase}}Headers){{/unless}} | {{#unless headers}}headers were not defined{{/unless}} |
    {{/with}}
{{else}}
{{#if content}}[body](#{{jsonPathPiece.snakeCase}}content){{else}}body{{/if}} | {{#unless content}}Unset{{else}}typing.Union[{{#each content}}{{#if this.schema}}[{{../jsonPathPiece.camelCase}}.content.{{@key.snakeCase}}.schema](#{{../jsonPathPiece.snakeCase}}content{{@key.snakeCase}}schema){{else}}Unset{{/if}}, {{/each}}]{{/unless}} | {{#unless content}}body was not defined{{/unless}} |
{{#if headers}}[headers](#{{jsonPathPiece.snakeCase}}headers){{else}}headers{{/if}} | {{#unless headers}}Unset{{else}}[{{jsonPathPiece.snakeCase}}.Headers](#{{jsonPathPiece.snakeCase}}headers){{/unless}} | {{#unless headers}}headers were not defined{{/unless}} |
    {{#if content}}

{{headerSize}} <a id="{{jsonPathPiece.snakeCase}}content" >{{jsonPathPiece.camelCase}}.content</a>
        {{#each content}}
            {{#with this.schema}}

{{> components/_helper_schema_doc_with_ref headerSize=(join headerSize "#" "") schemaNamePrefix1=../../jsonPathPiece schemaNamePrefix2="content" schemaNamePrefix3=../@key.snakeCase }}
            {{/with}}
        {{/each}}
    {{/if}}
    {{#if headers}}

{{headerSize}} <a id="{{jsonPathPiece.snakeCase}}headers" >{{jsonPathPiece.camelCase}}.Headers</a>

Key | Accessed Type | Description  | Notes
------------- | ------------- | ------------- | -------------
        {{#each headers}}
            {{#with this}}
                {{#if refInfo}}
                    {{#with getDeepestRef}}
                        {{#if schema}}
                            {{#with schema}}
{{../@key}} | [{{../../refInfo.refClass}}.schema]({{#unless ../../../componentModule}}../{{/unless}}../../components/headers/{{../../refInfo.refModule}}.md#{{../../refInfo.refModule}}schema) | | {{#unless required}}optional{{/unless}}
                            {{/with}}
                        {{else}}
                            {{#each content}}
                                {{#with this}}
                                    {{#with schema}}
{{../../@key}} | [{{../../../refInfo.refClass}}.content.{{../@key.snakeCase}}.{{jsonPathPiece.snakeCase}}]({{#unless ../../../../componentModule}}../{{/unless}}../../components/headers/{{../../../refInfo.refModule}}.md#{{../../jsonPathPiece.snakeCase}}content{{../@key.snakeCase}}{{jsonPathPiece.snakeCase}}) | | {{#unless required}}optional{{/unless}}
                                    {{/with}}
                                {{/with}}
                            {{/each}}
                        {{/if}}
                    {{/with}}
                {{else}}
                    {{#if schema}}
                        {{#with schema}}
{{../@key}} | [{{../../jsonPathPiece.camelCase}}.headers.{{../jsonPathPiece.snakeCase}}.schema](#{{../../jsonPathPiece.snakeCase}}headers{{../jsonPathPiece.snakeCase}}schema) | | {{#unless required}}optional{{/unless}}
                        {{/with}}
                    {{else}}
                        {{#each content}}
                            {{#with this}}
                                {{#with schema}}
{{../../@key}} | [{{../../../jsonPathPiece.camelCase}}.headers.{{../../jsonPathPiece.snakeCase}}.content.{{../@key.snakeCase}}.{{jsonPathPiece.snakeCase}}](#{{../../../jsonPathPiece.snakeCase}}headers{{../../jsonPathPiece.snakeCase}}content{{../@key.snakeCase}}{{jsonPathPiece.snakeCase}}) | | {{#unless required}}optional{{/unless}}
                                {{/with}}
                            {{/with}}
                        {{/each}}
                    {{/if}}
                {{/if}}
            {{/with}}
        {{/each}}
        {{#each headers}}
            {{#unless refInfo}}
{{> components/headers/header_doc header=this headerSize=(join headerSize "#" "") }}
            {{/unless}}
        {{/each}}
    {{/if}}
{{/if}}
{{#if componentModule}}

[[Back to top]](#top) {{> _helper_footer_links readmePath="../../../" responsesLink=true}}
{{/if}}
{{/with}}