{{#with response}}
{{#if componentModule}}
<a name="top"></a>
## {{packageName}}.components.responses.{{componentModule}}
{{#if refInfo}}
# {{name.camelCase}} [ref](../../components/responses/{{refInfo.refModule}})<a id="{{name.snakeCase}}" ></a>
{{else}}
# <a id="{{name.snakeCase}}" >{{name.camelCase}}</a>
{{/if}}
## <a id="{{name.snakeCase}}response_cls" >{{name.camelCase}}.response_cls</a>
{{else}}
#### <a id="{{name.snakeCase}}response_cls" >{{name.camelCase}}.response_cls</a>
{{/if}}
Name | Type | Description  | Notes
------------- | ------------- | ------------- | -------------
response | urllib3.HTTPResponse | Raw response |
{{#if refInfo}}
    {{#with getDeepestRef}}
body | {{#unless content}}Unset{{else}}typing.Union[{{#each content}}{{#if this.schema}}[{{../../name.camelCase}}.content.{{@key.snakeCase}}.schema](../../components/responses/{{../../refInfo.refModule}}.md#{{../../refInfo.refModule}}content{{@key.snakeCase}}schema){{else}}Unset{{/if}}, {{/each}}]{{/unless}} | {{#unless content}}body was not defined{{/unless}} |
headers | {{#unless headers}}Unset{{else}}[{{../name.snakeCase}}.Headers](../../components/responses/{{../refInfo.refModule}}.md#{{name.snakeCase}}Headers){{/unless}} | {{#unless headers}}headers were not defined{{/unless}} |
    {{/with}}
{{else}}
body | {{#unless content}}Unset{{else}}typing.Union[{{#each content}}{{#if this.schema}}[{{../name.camelCase}}.content.{{@key.snakeCase}}.schema](#{{../name.snakeCase}}content{{@key.snakeCase}}schema){{else}}Unset{{/if}}, {{/each}}]{{/unless}} | {{#unless content}}body was not defined{{/unless}} |
headers | {{#unless headers}}Unset{{else}}[{{name.snakeCase}}.Headers](#{{name.snakeCase}}Headers){{/unless}} | {{#unless headers}}headers were not defined{{/unless}} |
    {{#each content}}
        {{#with this.schema}}

{{> components/_helper_schema_doc_with_ref anchorContainsPeriod=true schemaNamePrefix1=../../name schemaNamePrefix2="content" schemaNamePrefix3=../@key.snakeCase }}
        {{/with}}
    {{/each}}
    {{#if headers}}
        {{#if componentModule}}
## Headers
        {{else}}
#### <a id="{{name.snakeCase}}Headers" >{{name.snakeCase}}.Headers</a>
        {{/if}}

Key | Accessed Type | Description  | Notes
------------- | ------------- | ------------- | -------------
        {{#each headers}}
            {{#with this}}
                {{#if refInfo}}
                    {{#with getDeepestRef}}
                        {{#if schema}}
                            {{#with schema}}
{{../@key}} | [{{../../refInfo.refClass}}.schema]({{#unless ../../../componentModule}}../{{/unless}}../../components/headers/{{../../refInfo.refModule}}.md#{{../../refInfo.refModule}}schema) | | {{#unless required}}optional{{/unless}}
                            {{/with}}
                        {{else}}
                            {{#each content}}
                                {{#with this}}
                                    {{#with schema}}
{{../../@key}} | [{{../../../refInfo.refClass}}.content.{{../@key.snakeCase}}.{{name.snakeCase}}]({{#unless ../../../../componentModule}}../{{/unless}}../../components/headers/{{../../../refInfo.refModule}}.md#{{../../name.snakeCase}}content{{../@key.snakeCase}}{{name.snakeCase}}) | | {{#unless required}}optional{{/unless}}
                                    {{/with}}
                                {{/with}}
                            {{/each}}
                        {{/if}}
                    {{/with}}
                {{else}}
                    {{#if schema}}
                        {{#with schema}}
{{../@key}} | [{{../../name.camelCase}}.headers.{{../name.snakeCase}}.schema](#{{../../name.snakeCase}}headers{{../name.snakeCase}}schema) | | {{#unless required}}optional{{/unless}}
                        {{/with}}
                    {{else}}
                        {{#each content}}
                            {{#with this}}
                                {{#with schema}}
{{../../@key}} | [{{../../../name.camelCase}}.headers.{{../../name.snakeCase}}.content.{{../@key.snakeCase}}.{{name.snakeCase}}](#{{../../../name.snakeCase}}headers{{../../name.snakeCase}}content{{../@key.snakeCase}}{{name.snakeCase}}) | | {{#unless required}}optional{{/unless}}
                                {{/with}}
                            {{/with}}
                        {{/each}}
                    {{/if}}
                {{/if}}
            {{/with}}
        {{/each}}
        {{#each headers}}
            {{#unless refInfo}}
{{> components/headers/header_doc header=this }}
            {{/unless}}
        {{/each}}
    {{/if}}
{{/if}}
{{#if componentModule}}

[[Back to top]](#top) {{> _helper_footer_links readmePath="../../../" responsesLink=true}}
{{/if}}
{{/with}}