{{#with response}}
{{#if componentModule}}
<a name="top"></a>
## {{packageName}}.components.responses.{{componentModule}}
{{#if refInfo}}
# {{name.camelCaseName}} [ref](../../components/responses/{{refInfo.refModule}})<a id="{{name.snakeCaseName}}" ></a>
{{else}}
# <a id="{{name.snakeCaseName}}" >{{name.camelCaseName}}</a>
{{/if}}
## <a id="{{name.snakeCaseName}}response_cls" >{{name.camelCaseName}}.response_cls</a>
{{else}}
#### <a id="{{name.snakeCaseName}}response_cls" >{{name.camelCaseName}}.response_cls</a>
{{/if}}
Name | Type | Description  | Notes
------------- | ------------- | ------------- | -------------
response | urllib3.HTTPResponse | Raw response |
{{#if refInfo}}
    {{#with getDeepestRef}}
body | {{#unless content}}Unset{{else}}typing.Union[{{#each content}}{{#if this.schema}}[{{../../name.camelCaseName}}.content.{{@key.snakeCaseName}}.schema](../../components/responses/{{../../refInfo.refModule}}.md#{{../../refInfo.refModule}}content{{@key.snakeCaseName}}schema){{else}}Unset{{/if}}, {{/each}}]{{/unless}} | {{#unless content}}body was not defined{{/unless}} |
headers | {{#unless headers}}Unset{{else}}[{{../name.snakeCaseName}}.Headers](../../components/responses/{{../refInfo.refModule}}.md#{{name.snakeCaseName}}Headers){{/unless}} | {{#unless headers}}headers were not defined{{/unless}} |
    {{/with}}
{{else}}
body | {{#unless content}}Unset{{else}}typing.Union[{{#each content}}{{#if this.schema}}[{{../name.camelCaseName}}.content.{{@key.snakeCaseName}}.schema](#{{../name.snakeCaseName}}content{{@key.snakeCaseName}}schema){{else}}Unset{{/if}}, {{/each}}]{{/unless}} | {{#unless content}}body was not defined{{/unless}} |
headers | {{#unless headers}}Unset{{else}}[{{name.snakeCaseName}}.Headers](#{{name.snakeCaseName}}Headers){{/unless}} | {{#unless headers}}headers were not defined{{/unless}} |
    {{#each content}}
        {{#with this.schema}}

{{> components/_helper_schema_doc_with_ref anchorContainsPeriod=true schemaNamePrefix1=../../name schemaNamePrefix2="content" schemaNamePrefix3=../@key.snakeCaseName }}
        {{/with}}
    {{/each}}
    {{#if headers}}
        {{#if componentModule}}
## Headers
        {{else}}
#### <a id="{{name.snakeCaseName}}Headers" >{{name.snakeCaseName}}.Headers</a>
        {{/if}}

Key | Accessed Type | Description  | Notes
------------- | ------------- | ------------- | -------------
        {{#each headers}}
            {{#with this}}
                {{#if refInfo}}
                    {{#with getDeepestRef}}
                        {{#if schema}}
                            {{#with schema}}
{{../@key}} | [{{../../refInfo.refClass}}.schema]({{#unless ../../../componentModule}}../{{/unless}}../../components/headers/{{../../refInfo.refModule}}.md#{{../../refInfo.refModule}}schema) | | {{#unless required}}optional{{/unless}}
                            {{/with}}
                        {{else}}
                            {{#each content}}
                                {{#with this}}
                                    {{#with schema}}
{{../../@key}} | [{{../../../refInfo.refClass}}.content.{{../@key.snakeCaseName}}.{{name.snakeCaseName}}]({{#unless ../../../../componentModule}}../{{/unless}}../../components/headers/{{../../../refInfo.refModule}}.md#{{../../name.snakeCaseName}}content{{../@key.snakeCaseName}}{{name.snakeCaseName}}) | | {{#unless required}}optional{{/unless}}
                                    {{/with}}
                                {{/with}}
                            {{/each}}
                        {{/if}}
                    {{/with}}
                {{else}}
                    {{#if schema}}
                        {{#with schema}}
{{../@key}} | [{{../../name.camelCaseName}}.headers.{{../name.snakeCaseName}}.schema](#{{../../name.snakeCaseName}}headers{{../name.snakeCaseName}}schema) | | {{#unless required}}optional{{/unless}}
                        {{/with}}
                    {{else}}
                        {{#each content}}
                            {{#with this}}
                                {{#with schema}}
{{../../@key}} | [{{../../../name.camelCaseName}}.headers.{{../../name.snakeCaseName}}.content.{{../@key.snakeCaseName}}.{{name.snakeCaseName}}](#{{../../../name.snakeCaseName}}headers{{../../name.snakeCaseName}}content{{../@key.snakeCaseName}}{{name.snakeCaseName}}) | | {{#unless required}}optional{{/unless}}
                                {{/with}}
                            {{/with}}
                        {{/each}}
                    {{/if}}
                {{/if}}
            {{/with}}
        {{/each}}
        {{#each headers}}
            {{#unless refInfo}}
{{> components/headers/header_doc header=this }}
            {{/unless}}
        {{/each}}
    {{/if}}
{{/if}}
{{#if componentModule}}

[[Back to top]](#top) {{> _helper_footer_links readmePath="../../../" responsesLink=true}}
{{/if}}
{{/with}}